<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.monorella.srf.branch.member.MemberMapper">

<select id="getMember" parameterType="String" resultType="com.monorella.srf.branch.dto.Member">
	SELECT 
	member_nm As member_nm
	,member_sex As member_sex
	, member_tel As member_tel
	, member_addr AS member_addr
	, member_age As member_age
	, member_seat_state As member_seat_state
	FROM branch_member_tb 
	WHERE member_nm=#{member_nm}
	</select>

<select id="searchMember" parameterType="java.util.Map" resultType="com.monorella.srf.branch.dto.Member">
	SELECT
		 member_nm
		 , member_sex AS member_sex
		 , member_tel AS member_tel
		 , member_addr AS member_addr
		 , member_age AS member_age
		 , member_seat_state AS member_seat_state
		 FROM branch_member_tb
		  <if test="sv !=null and sv != ''">
		 	<if test="so.equals('member_nm')">
		WHERE member_nm like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('member_sex')">
			WHERE member_sex like concat('%',#{sv},'%')
		</if>
		<if test="so.equals('member_age')">
			WHERE member_age like concat('%',#{sv},'%') 
		</if>
		<if test="so.equals('member_seat_state')">
			WHERE member_seat_state like concat('%',#{sv},'%')
		</if>
		</if> 
</select>

	<select id="selectMemberList" parameterType="java.util.Map" resultType="com.monorella.srf.branch.dto.Member">
		SELECT
			member_cd
			, branch_owner_cd
			, member_id
			, seat_cd
			, inout_num
			, member_nm
			, member_sex
			, member_tel
			, member_addr
			, member_date
			, member_regi_date
			, member_end_date
			, member_regi_path
			, member_age
			, member_seat_state
		FROM branch_member_tb
		ORDER BY inout_num DESC
		LIMIT #{beginRow}, #{pagePerRow}
	</select>	


	<select id="selectMemberCount" resultType="int">
        SELECT COUNT(*) FROM branch_member_tb
    </select>
	
	<insert id="insertMember" parameterType="com.monorella.srf.branch.dto.Member">
		INSERT INTO branch_member_tb(
			member_cd
			, branch_owner_cd
			, member_id
			, seat_cd
			, inout_num
			, member_nm
			, member_sex
			, member_tel
			, member_addr
			, member_date
			, member_regi_date
			, member_end_date
			, member_regi_path
			, member_age
			, member_seat_state)
		VALUES(
			#{member_cd}
			, #{branch_owner_cd}
			, #{member_id}
			, #{seat_cd}
			, #{inout_num}
			, #{member_nm}
			, #{member_sex}
			, #{member_tel}
			, #{member_addr}
			, now()
			, now()
			, now()
			, #{member_regi_path}
			, #{member_age}
			, #{member_seat_state}
		)
	</insert>		
</mapper>